<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>This is a small overview of my professional carreer. Please note that i did not include jobs as a trainee or vacation work.
    I also did not include the +10 years of teaching tennis. This CV was designed to show what i can do and what i've been doing  in recent years.  
    If you wish to know more, you can always contact me through email.</p>
</div><!--//summary-->
</section><!--//section-->
