 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">Postgraduaat bedrijfsbeheer - management</h4>
    <h5 class="meta">Katholieke Hogeschool Leuven</h5>
    <div class="time">2008 - 2009</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Interactive Multimedia Design</h4>
    <h5 class="meta">Katholieke Hogeschool Mechelen</h5>
    <div class="time">2005 - 2008</div>
</div><!--//item-->
</div><!--//education-container-->
