<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Systeembeheerder</h3>
                            <div class="time">Febr 2011 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">CM Leuven, Leuven</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>As a system administrator i am responsible for the well-being of our park. From user-sercurity profiles to laptops, desktops and servers. </p>  
                        <p>I handle helpdesk calls, deploy software through SCCM, write Powershell-scripts for different sort of tasks, create/modify GPO's, </p>
                        <p>stage bare metal clients via SCCM, basic configuration of servers (with drac), ... .</p>                      
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Administratief bediende</h3>
                            <div class="time">May 2010 - Jan 2011</div>
                        </div><!--//upper-row-->
                        <div class="company">CM Leuven, Leuven</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>Administrative tasks </p>                          
                    </div><!--//details-->
                </div><!--//item-->   
            </section><!--//section-->
