<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">Velocity</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote, market and sell their products.</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">ODBC 64-bit Auto Deployment Staging</a></span> - 
                    <span class="project-tagline">We had a GPO where we deployed ODBC drivers but this didn't work for 64-bit OS. On my blog i've posted how i've come to a solution.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://cookiecrumbles.github.io/WPA-Slow-Shutdown-Analysis/" target="_blank">Client slow shutdown analysis</a></span> - <span class="project-tagline">Laptop users complained about a slow shutdown proces. I went to inventigate ...</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Atom</a></span> - <span class="project-tagline">A comprehensive website template solution for startups/developers to market their mobile apps. </span>
                </div><!--//item-->
            </section><!--//section-->
