<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>So here are a few project/problems i worked on in recent history. These are all links to my own <a href="https://kristofstroobants.github.io/">blog</a> where i keep track of "things that might come in handy one day" or were just fun to do.</p>
                </div><!--//intro-->
               <div class="item">
                    <span class="project-title"><a href="https://kristofstroobants.github.io/Powershell-SCCM-Staging-GUI//" target="_blank">Powershell-SCCM-Staging-GUI</a></span> - 
                    <span class="project-tagline">Powershell GUI to deploy computers fast and reliable.</span>
                </div>
                    <div class="item">
                    <span class="project-title"><a href="https://kristofstroobants.github.io/GPO-apply-only-once/" target="_blank">GPO-Apply only once</a></span> - 
                    <span class="project-tagline">Applying a GPO once, how does that work?</span>
                </div><!--//item-->
                  <div class="item">
                    <span class="project-title"><a href="https://kristofstroobants.github.io/Deploying-TCPIP-printers-with-a-Powershell-GUI/" target="_blank">Deploying TCP/IP printers with a Powershell GUI</a></span> - 
                    <span class="project-tagline">Powershell GUI to add TCP/IP printers as a default user.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://kristofstroobants.github.io/Xpath-scraping-technique/" target="_blank">XPATH scraping technique</a></span> - 
                    <span class="project-tagline">Scraping a website with XPATH (in combination with the HTMLAgilityPack).</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://kristofstroobants.github.io/AD-Attributes-(LastLogon,-LastLogonTimeStamp)/" target="_blank">Investigating AD Attributes (lastlogon, lastlogontimestamp)</a></span> - 
                    <span class="project-tagline">I wanted to know how these values worked, so that i could find stale AD-objects.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://kristofstroobants.github.io/Learning-REGEX/" target="_blank">Learning REGEX (and use with Powershell)</a></span> - 
                    <span class="project-tagline">A personal project to learn REGEX with powershell.</span>
                </div><!--//item-->
                   <div class="item">
                    <span class="project-title"><a href="https://kristofstroobants.github.io/scrape-forwarranty/" target="_blank">Scrape warranty information with Powershell</a></span> - 
                    <span class="project-tagline">A small tool created to scrape warranty information from the HP website.</span>
                </div><!--//item-->
                 <div class="item">
                    <span class="project-title"><a href="https://kristofstroobants.github.io/ODBC64BIT/" target="_blank">ODBC 64-bit Auto Deployment Staging</a></span> - 
                    <span class="project-tagline">We had a GPO where we deployed ODBC drivers but this didn't work for 64-bit OS. On my blog i've posted how i've come to a solution.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://kristofstroobants.github.io/Slow-shutdown-analysis/" target="_blank">Client slow shutdown analysis</a></span> - <span class="project-tagline">Laptop users complained about a slow shutdown proces. I went to inventigate ...</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://kristofstroobants.github.io/Slow-Post-boot/" target="_blank">Slow post-boot procedure on Windows 7</a></span> - <span class="project-tagline">I've done a WPA/WPR analysis on slow booting machines </span>
                </div><!--//item-->
                  <div class="item">
                    <span class="project-title"><a href="https://kristofstroobants.github.io/BSOD-all-over-the-place/" target="_blank">BSOD's all over the place</a></span> - <span class="project-tagline">Laptop users had multiple bluescreens of death a day. I tried to find out why this was happening </span>
                </div><!--//item-->
            </section><!--//section-->
