<section class="skills-section section">
    <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
    <div class="skillset">
        <div class="item">
            <h3 class="level-title">Troubleshooting</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="98%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->
        <div class="item">
            <h3 class="level-title">Windows 7/10</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="70%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->
        <div class="item">
            <h3 class="level-title">Windows server 2008/2013/2016/2019</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="70%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->
        <div class="item">
            <h3 class="level-title">SCCM2007 - 2012 (usage)</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="98%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->
        <div class="item">
            <h3 class="level-title">Active Directory / Group Policy (usage)</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="95%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->
        <div class="item">
            <h3 class="level-title">Powershell</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="60%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->
        <div class="item">
            <h3 class="level-title">Exchange onPrem - O365 (Mgmt of groups/users/contacts/...) </h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="65%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->
        <div class="item">
            <h3 class="level-title">Ansible/Jenkins/AWX</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="20%">
                </div>
            </div>
        <div class="item">
            <h3 class="level-title">HTML/CSS</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="35%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->
    </div>
</section>
<!--//skills-section-->
